@font-face {
    src: url("assets/JosefinSans-VariableFont_wght.ttf");
    font-family: Josefin Sans;
}

@font-face {
    src: url("assets/Inter-VariableFont_slnt,wght.ttf");
    font-family: Inter;
}

html, body {
    margin: 0;
    padding: 0;
    background: #1B1924;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 320px; 
    margin: 50px auto;
}

#logo {
    width: 90px;
    margin: 0px auto;
}

#header {
    color: #FFF;
    font-family: Josefin Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    text-align: center;
}

#message-input {
    height: 120px;
    border: none;
    border-radius: 8px;
    background: #444059; 
    color: #8F8F8F;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    resize: vertical;
    padding: 15px;
}

#from-to-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
} 

input {
    width: 155px;
    border: none;
    border-radius: 8px;
    background: #444059;
    padding: 6px 0px;
    color: #8F8F8F;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#publish-btn {
    margin-top: 10px;
    padding: 15px 0px;
    border: none;
    border-radius: 8px;
    background: #28A9F1; 
    color: #04131C;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

#endorsements-title {
    color: #FFF;
    font-family: Josefin Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    text-align: center
}

#endorsements-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.endorsements {
    background: #FFF;
    padding: 10px 15px;
    color: #1B1924;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}